ALCHEMY_API_KEY=
ETHERSCAN_API_KEY=
GOOGLE_API_KEY=
CHAINLINK_PRICE_FEEDS={"ETHEREUM":{"ETH_USD":"0x5f4eC3Df9cbd43714FE2740f5E3616155c5b8419"}}
CRE_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/
RISK_REGISTRY_ADDRESS=0x60A94FFCa6B313117487E7AD1cDAa6d56b41a821
RISK_API_HOST=127.0.0.1
RISK_API_PORT=8000
PRIVATE_KEY=